.star{
    width: 20px;
    height: 20px;
    width: 100px;
  height: 100px;
  background-color: gold; /* Color of the star */
  clip-path: polygon(
    50% 0%, 
    61% 35%, 
    98% 35%, 
    68% 57%, 
    79% 91%, 
    50% 70%, 
    21% 91%, 
    32% 57%, 
    2% 35%, 
    39% 35%
  ); /* Star shape */
  margin: 5px;
}

/* .star:hover{
    background-color: green;
    box-shadow: rgb(186, 5, 186);
} */


.star_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}